<!DOCTYPE html>
<html>
  <head>
    <title> It's you? </title>
  </head>
  <body background = "https://lumiere-a.akamaihd.net/v1/images/open-uri20150608-27674-ibkz1n_fd8ed963.jpeg?region=0%2C0%2C1280%2C720">
    <center>
      <h4> <i> <font color = "white"> Welcome {{osis}}. Your training will begin soon. </font> </i> </h4>
      <font color = "light blue"> request method used: {{requester}} </font>
      <form action = "/">
	<input type = "submit" value = "logout">
      </form>
    </center>
  </body>
</html>
